@page
@using Wbc.Application.Common.Enums
@using Wbc.WebUI.Services
@model Wbc.WebUI.Areas.Permission.Pages.AddOrganisationApprovalRoleModel
@inject IStringLocalizer<Pages.AddOrganisationApprovalRoleModel> Localizer
@inject CommonLocalizationService LocalizationService

@section Css
{

    <link href="~/lib/Select2/css/select2.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

@section PageName
{
    @Localizer["PageName"]
}

@section BreadCrumbs
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Dashboard">@LocalizationService.Get("DashBoardRes")</a></li>
            <li class="breadcrumb-item"><a href="@Url.Page("ListOrganisationApprovalRole",new {area="Permission"})">@LocalizationService.Get("ListOrganisationApprovalRoleRes")</a></li>
            <li class="breadcrumb-item active" aria-current="page">@LocalizationService.Get("AddOrganisationApprovalRoleRes")</li>
        </ol>
    </nav>
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@Localizer["FormHeader"]</h5>
    </div>
    <div class="card-body">
        <form asp-page="AddOrganisationApprovalRole" method="post">

            <input type="hidden" asp-for="Command.SubscriberId"/>
            <input type="hidden" asp-for="Command.IsInternalUse"/>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label" asp-for="Command.RoleName"> @Localizer["RoleNamelbl"] :</label>
                    <input required class="form-control form-control-lg" asp-for="Command.RoleName"/>
                    <span class="text-danger" asp-validation-for="Command.RoleName"></span>
                </div>
                <partial name="_FormSubmissionButtonPartial" model="FormSubmissionAction.Create"/>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}