@page
@using Wbc.Application.Common.Enums
@using Wbc.WebUI.Services
@model Wbc.WebUI.Areas.MasterItems.Pages.AddDocumentTypeModel
@inject IStringLocalizer<Pages.AddDocumentTypeModel> Localizer
@inject CommonLocalizationService LocalizationService

@section Css
{

    <link href="~/lib/Select2/css/select2.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = Localizer["PageTitle"];
}


@section PageName
{
    @Localizer["PageName"]
}

@section BreadCrumbs
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Dashboard">@LocalizationService.Get("DashBoardRes")</a></li>
            <li class="breadcrumb-item"><a href="@Url.Page("ListDocumentType",new {area="MasterItems"})">@LocalizationService.Get("ListDocumentTypeRes")</a></li>
            <li class="breadcrumb-item active" aria-current="page">@LocalizationService.Get("AddDocumentTypeRes")</li>
        </ol>
    </nav>
}


<div class="card">
    <div class="card-header">
        <h5 class="card-title">@Localizer["FormHeader"]</h5>
    </div>
    <div class="card-body">
        <form asp-page="AddDocumentType" method="post">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label" asp-for="Command.DocumentTypeName"> @Localizer["DocumentTypeNamelbl"] :</label>
                    <input required class="form-control form-control-lg" asp-for="Command.DocumentTypeName" />
                    <span class="text-danger" asp-validation-for="Command.DocumentTypeName"></span>
                </div>
                <div class="form-group">
                    <label class="col-form-label" asp-for="Command.DocumentTypeCode"> @Localizer["DocumentTypeCodelbl"] :</label>
                    <input required class="form-control form-control-lg" asp-for="Command.DocumentTypeCode" />
                    <span class="text-danger" asp-validation-for="Command.DocumentTypeCode"></span>
                </div>
                <div class="form-group form-group-lg">
                    @*<label class="col-form-label" asp-for="Command.DocumentTag"> @Localizer["RequiredDocumentIdlbl"] :</label>
                    <select class="form-control form-control-lg" asp-for="Command.DocumentTag" asp-items="Html.GetEnumSelectList<DocumentTags>()">
                        <option value="">@LocalizationService.Get("SelectListDefaultValue")</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Command.DocumentTag"></span>
                </div>*@
                <partial name="_FormSubmissionButtonPartial" model="FormSubmissionAction.Create" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
