@page
@using Wbc.Application.Common.Enums
@using Wbc.WebUI.Services
@model Wbc.WebUI.Areas.MasterItems.Pages.AddProcessModel
@inject IStringLocalizer<Pages.AddProcessModel> Localizer
@inject CommonLocalizationService LocalizationService

@section Css
{

    <link href="~/lib/Select2/css/select2.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = Localizer["PageTitle"];
}


@section PageName
{
    @Localizer["PageName"]
}

@section BreadCrumbs
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Dashboard">@LocalizationService.Get("DashBoardRes")</a></li>
            <li class="breadcrumb-item"><a href="@Url.Page("ListProcess",new {area="MasterItems"})">@LocalizationService.Get("ListProcessRes")</a></li>
            <li class="breadcrumb-item active" aria-current="page">@LocalizationService.Get("AddProcessRes")</li>
        </ol>
    </nav>
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@Localizer["FormHeader"]</h5>
    </div>
    <div class="card-body">
        <form asp-page="AddProcess" method="post">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label" asp-for="Command.ProcessName"> @Localizer["ProcessNameColumn"] :</label>
                    <input required class="form-control form-control-lg" asp-for="Command.ProcessName" />
                    <span class="text-danger" asp-validation-for="Command.ProcessName"></span>
                </div>
                <div class="form-group">
                    <label class="col-form-label" asp-for="Command.ProcessDescription"> @Localizer["ProcessDescriptionColumn"] :</label>
                    <input asp-for="Command.ProcessDescription" class="form-control form-control-lg" />
                    <span class="text-danger" asp-validation-for="Command.ProcessDescription"></span>
                </div>

                <div class="form-group">
                    <label class="col-form-label" asp-for="Command.ProcessCode"> @Localizer["ProcessCodeColumn"] :</label>
                    <input asp-for="Command.ProcessCode" class="form-control form-control-lg" />
                    <span class="text-danger" asp-validation-for="Command.ProcessCode"></span>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" asp-for="Command.IsInternalUse" class="custom-control-input"/>
                        <label class="custom-control-label" asp-for="Command.IsInternalUse"> @Localizer["IsInternalUselbl"]</label>
                    </div>
                    <span class="text-danger" asp-validation-for="Command.IsInternalUse"></span>
                </div>
                <partial name="_FormSubmissionButtonPartial" model="FormSubmissionAction.Create" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
