@page "{Id}"
@using Wbc.Application.Common.Enums
@using Wbc.WebUI.Services
@model Wbc.WebUI.Areas.MasterItems.Pages.DeleteDocumentTypeModel
@inject IStringLocalizer<Pages.DeleteDocumentTypeModel> Localizer
@inject CommonLocalizationService LocalizationService

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

@section PageName
{
    @Localizer["PageName"]
}

@section BreadCrumbs
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Dashboard">@LocalizationService.Get("DashBoardRes")</a></li>
            <li class="breadcrumb-item"><a href="@Url.Page("ListDocumentType",new {area="MasterItems"})">@LocalizationService.Get("ListDocumentTypeRes")</a></li>
            <li class="breadcrumb-item active" aria-current="page">@LocalizationService.Get("DeleteDocumentTypeRes")</li>
        </ol>
    </nav>
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title"><p class="text-danger">@Localizer["FormHeader"]</p></h5>
    </div>
    <div class="card-body">
        <form asp-page="DeleteProcess" method="post">
            <input type="hidden" asp-for="Command.Id" />
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label" asp-for="Command.DocumentTypeName"> @Localizer["DocumentTypeNamelbl"] :</label>
                    <input readonly="readonly" class="form-control form-control-lg" asp-for="Command.DocumentTypeName" placeholder="@Localizer["DocumentTypeNamelbl"]" />
                </div>
                <div class="form-group">
                    <label class="col-form-label" asp-for="Command.DocumentTypeCode"> @Localizer["DocumentTypeCodelbl"] :</label>
                    <input readonly="readonly" asp-for="Command.DocumentTypeCode" class="form-control form-control-lg" placeholder="@Localizer["DocumentTypeCodelbl"]" />
                </div>
                <partial name="_FormSubmissionButtonPartial" model="FormSubmissionAction.Delete" />
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

