@page "{id}"
@inject IStringLocalizer<RegistrationApprovalDetailsModel> Localizer
@inject CommonLocalizationService LocalizationService
@using Wbc.WebUI.Services
@model Wbc.WebUI.Areas.Subscription.Pages.RegistrationApprovalDetailsModel
@{
    ViewData["Title"] = Localizer["PageTitle"];


}


@section PageName
{
    @Localizer["PageName"]
}

@section BreadCrumbs
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Dashboard">@LocalizationService.Get("DashBoardRes")</a></li>
            <li class="breadcrumb-item"><a href="@Url.Page("inbox",new {area="workflow"})">@LocalizationService.Get("ListInboxRes")</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Command.EntityName</li>
        </ol>
    </nav>
}

<div class="card">
    <div class="card-header" style="background:#f4f7fc">

    </div>
    <div style="background:#f4f7fc" class="card-body">
        <div class="tab">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#tab-1" data-toggle="tab" role="tab"><span class="fas fa-fw fa-sitemap"></span> @Localizer["OrganisationDetailsTab"]</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab-2" data-toggle="tab" role="tab"><span class="fas fa-fw fa-user-shield"></span> @Localizer["AdminDetailsTab"]</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab-3" data-toggle="tab" role="tab"><span class="fas fa-fw fa-clipboard-list"></span> @Localizer["DocumentDetailsTab"]</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab-4" data-toggle="tab" role="tab"><span class="fas fa-fw fa-stamp"></span> @Localizer["ApprovalTab"]</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-1" role="tabpanel">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right required" asp-for="Command.EntityName"> @Localizer["OrganisationNamelbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" class="form-control form-control-lg" required asp-for="Command.EntityName" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right required" asp-for="Command.Tin"> @Localizer["Tinlbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" asp-for="Command.Tin" required class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right required" asp-for="Command.CountryCode"> @Localizer["Countrylbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" asp-for="Command.CountryCode" class="form-control form-control-lg" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right required" asp-for="Command.City"> @Localizer["Citylbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" asp-for="Command.City" required class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right required" asp-for="Command.StreetNumber"> @Localizer["StreetNumberlbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" asp-for="Command.StreetNumber" required class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right required" asp-for="Command.PostCode"> @Localizer["PostCodelbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" asp-for="Command.PostCode" required class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right required" asp-for="Command.EmailAddress"> @Localizer["EmailAddresslbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" type="email" required asp-for="Command.EmailAddress" class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right required" asp-for="Command.PhoneNumber"> @Localizer["PhoneNumberlbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" type="tel" required asp-for="Command.PhoneNumber" class="form-control form-control-lg" />
                            <small class="form-text text-muted">e.g +2330245657789</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right" asp-for="Command.FaxNumber"> @Localizer["FaxNumberlbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" asp-for="Command.FaxNumber" class="form-control form-control-lg" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-2" role="tabpanel">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right required" asp-for="Command.FirstName"> @Localizer["FirstNamelbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" required asp-for="Command.FirstName" class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right" asp-for="Command.MiddleName"> @Localizer["MiddleNamelbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" asp-for="Command.MiddleName" class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right required" asp-for="Command.LastName"> @Localizer["LastNamelbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" required asp-for="Command.LastName" class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right required" asp-for="Command.AdminEmailAddress"> @Localizer["AdminEmailAddresslbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" type="email" required asp-for="Command.AdminEmailAddress" class="form-control form-control-lg" />
                            <small class="form-text text-muted">This email address will be use to create the admin account which will be responsible for managing your subscription.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right required" asp-for="Command.AdminPhoneNumber"> @Localizer["AdminPhoneNumberlbl"] :</label>
                        <div class="col-md-6">
                            <input readonly="readonly" type="tel" required asp-for="Command.AdminPhoneNumber" class="form-control form-control-lg" />
                            <small class="form-text text-muted">e.g +2330245657789</small>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-3" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.SubmittedDocumentDtos.Any())
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width:10px;"></th>
                                            <th style="width:15px;">S/N</th>
                                            <th>@Localizer["DocumentName"]</th>
                                            <th>@Localizer["DocumentDescription"]</th>
                                        </tr>
                                    </thead>
                                    @{ var i = 1;}
                                    <tbody>
                                        @foreach (var doc in Model.SubmittedDocumentDtos)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="#" class="fa fa-1x fa-plus-circle"></a>
                                                </td>
                                                <td>@i</td>
                                                <td>@doc.DocumentName</td>
                                                <td>@doc.DocumentDescription</td>
                                            </tr>

                                            i++;
                                        }
                                    </tbody>
                                </table>

                            }
                            else
                            {
                                <span>@Localizer["NoSupportingDocumentRequired"]</span>
                            }
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="tab-4" role="tabpanel">
                    @await Component.InvokeAsync("ApprovalHandler", new { documentId = Model.Command.DocumentId })
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{

    <partial name="_ValidationScriptsPartial" />

}
