@page
@using Wbc.Application.Common.Enums
@using Wbc.WebUI.Services
@model Wbc.WebUI.Areas.MenuResource.Pages.AddResourceModel
@inject IStringLocalizer<Pages.AddResourceModel> Localizer
@inject CommonLocalizationService LocalizationService

@section Css
{
    <link href="~/lib/Select2/css/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/lib/Select2/css/select2.css" rel="stylesheet" />

}

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

@section PageName
{
    @Localizer["PageName"]
}


@section BreadCrumbs
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Dashboard">@LocalizationService.Get("DashBoardRes")</a></li>
            <li class="breadcrumb-item"><a href="@Url.Page("ListResource",new {area="MenuResource"})">@LocalizationService.Get("ListResourcesRes")</a></li>
            <li class="breadcrumb-item active" aria-current="page">@LocalizationService.Get("AddResourceRes")</li>
        </ol>
    </nav>
}


<div class="card">
    <div class="card-header">
        <h5 class="card-title">@Localizer["FormHeader"]</h5>
    </div>
    <div class="card-body">
        <form asp-page="AddResource" method="post">
            <div class="col-md-7">
                <div class="form-group">
                    <label class="col-form-label" asp-for="Command.AreaId"> @Localizer["Arealbl"] :</label>
                    <select class="form-control form-control-lg" asp-for="Command.AreaId" asp-items="Model.ResourceAreaList">
                        <option value="">@LocalizationService.Get("SelectListDefaultValue")</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Command.AreaId"></span>
                </div>
                <div class="form-group">
                    <label class="col-form-label" asp-for="Command.ResourcePage"> @Localizer["RsourceNamelbl"] :</label>
                    <input required class="form-control form-control-lg" asp-for="Command.ResourcePage" />
                    <span class="text-danger" asp-validation-for="Command.ResourcePage"></span>
                </div>
                <div class="form-group">
                    <label class="col-form-label" asp-for="Command.LocalLizationKey"> @Localizer["LocalizationKeylbl"] :</label>
                    <input asp-for="Command.LocalLizationKey" class="form-control form-control-lg" />
                    <span class="text-danger" asp-validation-for="Command.LocalLizationKey"></span>
                </div>
                <div class="form-group">
                    <label class="col-form-label" asp-for="Command.Order"> @Localizer["Orderlbl"] :</label>
                    <input asp-for="Command.Order" class="form-control form-control-lg" min="1" />
                    <span class="text-danger" asp-validation-for="Command.Order"></span>
                </div>
                <div class="form-group form-group-lg">
                    <label class="col-form-label" asp-for="Command.PermissionId"> @Localizer["Permissionlbl"] :</label>
                    <select class="form-control form-control-lg" asp-for="Command.PermissionId" asp-items="Model.PermissionList">
                        <option value="">@LocalizationService.Get("SelectListDefaultValue")</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Command.PermissionId"></span>
                </div>
                <partial name="_FormSubmissionButtonPartial" model="FormSubmissionAction.Create" />
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <script src="~/lib/Select2/js/select2.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        var placeholder = '@LocalizationService.Get("SelectListDefaultValue")';

        $(document).ready(function () {
            $('#Command_PermissionId').select2({
                placeholder: placeholder,
                theme: "bootstrap"

            });
        });
    </script>
}
